<section class="card-group m-5 contenedor">

  <figure class="card m-1 contenedor conten-card   ">
    <img src="/img/getmucle.webp" class="card-img-top img-content" alt="...">

    <div class="card-body conten-text ">

      <figcaption class="card-title m-0 p-0">Bulking</figcaption>
      <p class="card-text">
        El bulking en el gym es una de las etapas más populares y estratégicas dentro del mundo del fitness,
        especialmente entre quienes buscan maximizar su masa muscular. A través de una combinación de entrenamiento
        intenso y un régimen nutricional
        específico, esta fase permite a los deportistas aumentar su volumen corporal, centrándose en la ganancia de
        músculo.

      </p>
      <p class="card-text"><small class="text-body-secondary">Fuente: https://blog.smartfit.com.mx/</small></p>
    </div>
  </figure>
  <figure class="card m-1 contenedor conten-card">
    <img src="/img/giro-ruso.webp" class="card-img-top img-content" alt="...">
    <div class="card-body conten-text ">
      <figcaption class="card-title m-0">El core</figcaption>
      <p class="card-text">
        El core es un componente fundamental de la salud y el rendimiento físico. Este grupo de músculos ubicados en la
        región central del cuerpo desempeña un papel crucial en la estabilidad, la postura y la transferencia de fuerza
        durante nuestros movimientos diarios y actividades deportivas. Comprender la anatomía y la importancia del core
        es el primer
        paso para desarrollar una musculatura fuerte y saludable
        que te permita moverte con eficiencia y prevenir lesiones
      </p>
      <p class="card-text"><small class="text-body-secondary">Fuente: https://blog.smartfit.com.mx/</small></p>
    </div>
  </figure>
  <figure  class="card m-1 contenedor conten-card">
    <img src="/img/cardio.webp" class="card-img-top img-content" alt="...">
    <div class="card-body conten-text ">
      <figcaption class="card-title m-0">Cardio</figcaption>
      <p class="card-text">
        La resistencia cardiovascular es fundamental. En esta publicación, te ofreceremos una guía completa sobre esta
        capacidad clave del
        sistema circulatorio y respiratorio.
        Desde su definición y sus grandes beneficios hasta las diversas maneras en las que puedes fortalecerla en los
        gimnasios


      <p class="card-text"><small class="text-body-secondary">Fuente: https://blog.smartfit.com.mx/</small></p>
    </div>
  </figure>
</section>


<!-- <section class="d-flex">
  <div class="d-flex">
    <div class="card" >
      <img src="/img/gym-banner1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
    
</section> -->