<div class="container text-center container-footer m-0 mt-3">
  
  <div class="container_img">
    <img class="imagenes" loading="lazy" src="/img/footer2.jpg" priority  />               
</div>    

  <div class="row align-items-center ">
    <div class="col mt-3">
      
      <a href="https://www.facebook.com/" target="_blank">
        <img src="/img/social-whatsapp-white.svg"  class="card-img-top icono" alt="...">
      </a>
    </div>
    <div class="col mt-3">
      
      <a href="https://www.facebook.com/" target="_blank">
        <img src="/img/social-facebook-white.svg"  class="card-img-top icono" alt="...">
      </a>
    </div>
    <div class="col mt-3">
      <a href="https://x.com/?lang=es" target="_blank">
        <img src="/img/social-twitter-white.svg" class="card-img-top icono" alt="...">
      </a>
     
    </div>
    <div class="col mt-3">
      <a href="https://www.youtube.com/" target="_blank">
        <img src="/img/social-youtube-white.svg" class="card-img-top icono" alt="...">
      </a>
     
    </div>
  </div>

</div>